.container{
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: start;
    background: var(--background-c);
    z-index: 1;
}

.container a{
    padding: 10px;
    border: 1px solid var(--border-c);
    height: 52px;
}

.github{
    width: 150px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}