@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --background-c: #0f172b;
    --text-c: #8fa0b8;
    --border-c: #242d3d;
    --text0-console-c: #7d8db3;
    --text1-console-c: #605efd;
    --text2-console-c: #00d3bd;
    --text3-console-c: #de8e9b;
}
/*8fa0b8*/

*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background-c);
    color: var(--text-c);
    font-family: 'Fira Code', monospace;
    overflow-x: hidden;
}

a{
    color: var(--text-c);
    text-decoration: none;
}

button{
    &&:hover{
        scale: 0.95;
    }

    &&:active {
        scale: 1;
    }
}

.appWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainContent {
    flex: 1 0 auto;
}

.const {
    color: var(--text1-console-c);
}

.variable {
    color: var(--text2-console-c);
}

.string {
    color: var(--text3-console-c);
}

@keyframes appearance {
    0%{opacity: 0;}
    100%{opacity: 1;}
}












